@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 40px 50px;
  text-decoration: none;
  font-family: 'Playfair Display',serif; 
  font-size: 140%;

}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}
*{
    box-sizing: border-box;
  }
.contactback-pics{
    justify-content: center;
    height: 100%;
    width:50%;
    margin:auto;
    /*background-image: url("unnamed.jpg");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
   /* Style inputs with type="text", select elements and textareas */
   input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid black; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: black;
  }
  
  /* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } 
.contactback-h1{
  
    /*text-decoration:underline;*/
   font-family: 'Playfair Display',serif; 
   font-size:15pt;
   color:black;
   text-align:center;
   padding:18px o 18px 0;
   margin:0 0 10px 0;
 }